.clock-widget {
    position: relative;
    width: 80vw;
    height: 12vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: rgba(133, 133, 133, 0.83);
    display: flex;
    flex-direction: column;
}


.clock-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #000000;

    flex-direction: flex-start;
    margin-top: 1vh;
}

.clock-play {
    background: none;
    border: none;
    left: 35vw;
    top: 5vh;
}

.clock-stop {
    background: none;
    border: none;
    left: 50vw;
    top: 5vh;
}

.settings {
    left: 65vw;
    top: 5vh;
}

.widget-type {
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 3vw;
    margin-top: 0vh;
}

.counter {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 6vh;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #000000;
    
    left: 5vw;
}

.top-row {
    display: flex;
    flex-direction: row;
}

.bottom-row {
    display: flex;
    flex-direction: row;
}