<div class="clock-widget">

    <div class="top-row">
        <p class="clock-name">clock-name</p>
        <p class="widget-type">CLOCK</p>
    </div>
    <br/>
    <div class="bottom-row">
        <button (click)=clock_play() class="clock-play">
            <img src="assets/clock-play.png">
        </button>
        <button class="clock-stop">
            <img src="assets/clock-stop.png" (click)="clock_pause()">
        </button>
        <img src="assets/settings.png" class="settings">
        <p class="counter"> {{this.seconds | timeFormat}} </p>
    </div>
    

</div>